@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');
body{
    margin:0;
    font-family: 'Dosis', sans-serif;
    color: #121213;
    font-size: 14px;
    line-height: 20px;
    /* line-height: 20px; */
    /* margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%; */
}
#first-page-section{
    width:100%;
    height: 100vh;
    box-sizing: border-box;

}
#background-image{
    height: 85vh;
    margin: 2%;
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url(slide-2.jpg);
    background-position: 0px 0px, 50% 0%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    position: relative;

}
#back-text{
    position: relative;
}
#nuuk-logo{
    width: 90px;
    background-color: #e47312;
    align-self: stretch;
    display: flex;
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    align-items: center;
    position: absolute;
    /* margin-top: 2%; */
}
#nuuk-logo img{
    vertical-align: middle;  
    width: 90px;
}
#navbar{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: flex;
    width: 90%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0%;
    padding-left: 0%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    height: 88px;
}
#navbar-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative; 
    width: 100%;
}
#navbar-items p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
    margin-right: 2.2%;
}
#navbar-items p:hover{
    color: #E47312
}
#navbar-items p i{
    width: 6px;
    margin-left: 7px;
    color: #a5a5ac;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    vertical-align: middle;
    text-align: center;
    margin-top: -10px;
    z-index: 1;
}
#get-free-quote{
    width: 170px;
    margin-left: 18px;
    background-color: #e47312;
    height: 88px;
    position: relative;
    display: flex;
    box-sizing: border-box;
   
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    line-height: 16px;
    transition: all 0.3s;
    opacity: 1;
}
#get-free-quote p{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 34px 28px 31px;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;
   
}
#get-free-quote:hover{
    opacity: 0.8;
}
#main-text{
    width: 58.33333333%;
    position: absolute;
    margin-top: 160px;
    float: left;
    min-height: 1px;
    height: 85vh;
    padding-left: 9%;
    padding-right: 5%;
}
#main-text h1{
    color: #fff;
    font-size: 62px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 0;
}
#main-text p{
    font-weight: 400;
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 42px;
    color: hsla(0, 0%, 100%, 0.7);
}
#main-text a{
    width: 25%;
    font-size: 12px;
    margin-top: 0px;
    /* display: block; */
    border-radius: 0px;
    position: relative;
    background-color: #e47312;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* min-width: 160px; */
    box-sizing: border-box;
    padding: 17px 32px;
    justify-content: center;
    transition: all 300ms ease;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    opacity: 1;
}
#main-text a:hover{
    opacity: 0.8;
}
#main-content-borderbox{
    position: absolute;
    left: auto;
    top: auto;
    right: 0;
    bottom: -76px;
    width: 813.5px;
    padding: 15px 100px 5px 50px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    height: 202px;
    padding: 15px 100px 5px 50px;
    /* margin-bottom: 0; */
}
#main-content-borderbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main-content-borderbox div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 90px;
    /* padding-right: 50px; */
    align-items: center;
    /* margin-right: 40px; */
    position: relative;

}
#main-content-borderbox div img{
    width: 24px;
    /* margin-bottom: 15px; */
    margin-bottom: 15px;
    /* margin-left: 5px; */
    
}
#main-content-borderbox div h1{
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
} 
.underline-white::after{
    content: "";
    height: 2px;
    width: 76px;
    position: absolute;
    background-color: white;
    bottom: 20px;
    left: 51.54%;
    opacity: 0;
    transition: all 0.2s;
}
.underline-white:hover::after{
    opacity: 1;
}

#main-content-borderbox div p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;

}
#social-url{
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 143px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: #0a1229;
    box-sizing: border-box;
}
#social-url img{
    max-width: 100%;
    width: 16px;
    vertical-align: middle;
    /* display: inline-block; */
    /* align-items: center; */
    display: flex;
    align-items: center;
}
.icons-layout{
    display: flex;
    width: 40px;
    height: 50px;
    /* float: left; */
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
    background-color: transparent;
}
.icons-layout-last{
    display: flex;
    width: 40px;
    height: 50px;
    /* float: left; */
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid hsla(0, 0%, 100%, 0.14); */
    background-color: transparent;
}
#back-text > h1{
    position: relative;
    /* left: -53px;
    top: -26px; */
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 50px;
    text-transform: uppercase;
    margin-left:50px;
    font-weight: 600;
    

}
#second-page-section{
    padding: 5% 4%;
}
#back-text div {
    position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 7%;
align-items: center;
box-sizing: border-box;
font-family: 'Dosis', sans-serif;
    color: #121213;
    font-size: 14px;
    line-height: 20px;

}
#back-text div h1{
    position: relative;
    z-index: 2;
    margin-left: 103px;
    margin-top: -45px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
#back-text div p{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 130px;
    transition: 0.2s;
}
.underline-1::after{
    content: "";
    height: 2px;
    width: 120px;
    position: absolute;
    background-color: #e47312;
    bottom: 11px;
    left: 82%;
    opacity: 0;
    transition: all 0.2s;
}
.underline-1:hover:after{
    opacity: 1;
}
.underline-5::after{
    content: "";
    height: 2px;
    width: 105px;
    position: absolute;
    background-color: white;
    bottom: -3px;
    left: 46.3%;
    opacity: 0;
    transition: all 0.2s;
}
.underline-5:hover:after{
    opacity: 1;
}
.underline-7::after{
    content: "";
    height: 2px;
    width: 81px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    /* bottom: 50px; */
    top:212px;
    left: 0%;
    opacity: 0;
    transition: all 0.2s;
}
.underline-7:hover:after{
    opacity: 1;
}
.underline-3::after{
    content: "";
    height: 2px;
    width: 110px;
    position: absolute;
    background-color: #e47312;
    bottom: 11px;
    left: 83.5%;
    opacity: 0;
    transition: all 0.2s;
}
.underline-3:hover:after{
    opacity: 1;
}
.underline-4::after{
    content: "";
    height: 2px;
    width: 65px;
    position: absolute;
    background-color: #e47312;
    bottom: 11px;
    left: 86.5%;
    opacity: 0;
    transition: all 0.2s;
}
.underline-4:hover:after{
    opacity: 1;
}
.underline-6::after{
    content: "";
    height: 2px;
    width: 65px;
    position: absolute;
    background-color: #e47312;
    bottom: 11px;
    left: 86%;
    opacity: 0;
    transition: all 0.2s;
}
.underline-6:hover:after{
    opacity: 1;
}
.underline-2::after{
    content: "";
    height: 2px;
    width: 100px;
    position: absolute;
    background-color: #e47312;
    bottom: -5px;
    left: 8%;
    opacity: 0;
    transition: all 0.2s;
}
.underline-2:hover:after{
    opacity: 1;
}
#our-specialization{
    padding: 0 7%;
    box-sizing: border-box;   
    margin-top: -20px;
}
#our-specialization > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#our-specialization-inner-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    box-sizing: border-box;
    padding-right: 100px;
}
.our-specialization-inner-div img{
    margin-bottom: 20px;
    width: 60px;
}
.our-specialization-inner-div h1{
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
}
.specialization-para{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
    padding-right: 34px;
}
.learn-more{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
#who-we-are{
    padding: 10% 0 5% 11% ;
    display: flex;
    flex-direction: row;
}
#who-we-are div{
    width: 50%;
}
#who-we-are div img{
    width:85%;
}
#back-text > p{
    padding-left: 50px;
    padding-right: 20%;
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    box-sizing: border-box;
}
#back-text > h2{
    margin-top: 60px;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 55px;
}
#number-count{
    padding: 5% 5%;
    padding-left: 12%;
    padding-top: 0;
    display: flex;
    flex-direction: row;
}
#number-count > div{
    display: flex;
    flex-direction: column;
    /* padding-right: 10%; */
    margin-right: 10%;
}
.number-text{
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
.number-details{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    /* padding-right: 40%; */
    box-sizing: border-box;
  
}
#grey-background{
    padding: 8% 0% 20px 20px;
    /* padding-right: 5%;
    padding-left: 5%; */
    margin-right: 2%;
    margin-left: 2%;
    background-color: #f7f8fc;
    /* background-color: #1841e7; */
}
#six-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

}
#six-images img{
        padding-top: 20px;
        padding-right: 20px;
        width:32%;
        transition: all 0.2s;
}
.project-wrapper{
    width: 100%;
    padding-right: 0px;
}

.image-wrap-div{
    width: 100%;
    position: relative;
    /* margin: 10%; */
}
.five-image{
    width: 100%;
    display: inline-block;
}

.five-image-overlay{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
}
.project-wrapper {
    padding-top: 20px;
    padding-right: 20px;
    float: left;
}
.sec-five-img-wrap{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.view-project-div{
    width: 90px;
    height: 90px;
    /* padddign-left: 11px;
    padding-right: 11px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
        
}

.image-wrap-div:hover > .five-image-overlay{
    opacity: 1;
    
}



#transparent-design{
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    margin-bottom:100px;
}
#transparent-design > div h1{
    color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
}
#transparent-design > div p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    text-align: center;
}
#transparent-design > div h2{
    margin-top: 50px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
#all-professionals{
    display: flex;
    flex-direction: row;
    padding:7%;
    padding-top: 0;
    /* padding-right: 10px;
    padding-left: 10px; */
}

.professional-details{
    width: 25%;
    min-height: 250px;
    position: relative;
    float: left;
    
    /* width: 100%; */
    /* min-height: 1px; */
    /* padding-left: 10px;
    padding-right: 10px; */
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    color: #121213;
    font-size: 14px;
    /* line-height: 20px; */
    background-color: #fff;
    margin-right: 30px;
}

.professional-details img{
    width: 100%;
    height: 380px;
    /* position: absolute; */
    margin-bottom:0;
}
.professional-details h1{
    padding: 29px 66px 0px 29px;
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.professional-details p{
    padding-bottom: 29px;
    padding-left: 29px;
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
    font-family: Dosis, sans-serif;
    padding-top: 0;
    margin-top: 0;
}
#social-info-two{
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #e47312;
}
#social-info-two img{
    max-width: 100%;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    /* display: inline-block; */
    /* align-items: center; */
    display: flex;
    align-items: center;
}
#testimonials{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
}
/* .back-text-p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
    box-sizing: border-box;
    padding-left: 100%;
} */
#back-test h2{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 0;
}
.first-card{
    display: inline-flex;

    flex-direction: column;
    width: 18%;
    margin-left: 6%
}

.first-card h4{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.first-card pre{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
}
.first-card p{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    font-family: Dosis, sans-serif;
} 
.first-card > div{
    position: relative;
    display: block;
    width: 90%;
    margin: 50px auto 61px;
    padding: 80px 30px 26px;
    background-color: #fff;
    text-align: center;
}
.border-circle h1{
   position: absolute;
   padding-top: 12px;
   margin-top: 0;
   color: #fff;
   font-size: 80px;
   line-height: 80px;
   text-align: center;
}

.border-circle{
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    justify-content: center;
    align-items: stretch;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
}
#latest-news{
    /* margin-top: 10%; */
    padding: 5% 4%;
}
#latest-news > div{
    /* padding: -7% 15%; */
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    flex-direction: row;
    /* max-width: 1200px; */
    /* height: 500px; */
}
.blogpost{
     width: 33.33333333%;
     position: relative;
     float: left;
     /* width: 1/00%; */
     min-height: 1px;
     padding-left: 10px;
     padding-right: 10px;
     box-sizing: border-box;
     margin-top: 0;
     /* height: 1000px; */
}
.blogpost div{
    padding: 25px 56px 25px 30px; 
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    color: #fff;
    margin-top: -5px;
}
.blogpost img{
    width: 100%;
    margin-bottom:0 ;
}
.blogpost h1{
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}
.blogpost p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: Dosis, sans-serif;
    font-size: 21px;
    line-height: 25px;
}
.blogpost h4{
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
    font-weight: 600;
}
.blogpost h4::after{
    /* backgsround-color: blue; */
    bottom: 66px;
    content: '';
    position: absolute;
    width: 14%;
    height: 2.1px;
    bottom: 0;
    z-index: 100;
    background-color: hsla(0, 0%, 100%, 0.3);
    transition: .2s;
    bottom: 37px;
    left: 40px;
    transition: .2s;

}
.blogpost h4:hover::after{
    background-color: white;
}
#second-last-section{
    margin-top:5%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 4%;
    padding-bottom: 3%;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
    /* padding: 10% 5%; */
}
#second-last-section div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#second-last-section img{
    width: 8%;
    height: 2%;
    /* min-height: 100px; */
}
#second-last-section p{
    margin-right: 60px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
#footer{
    /* position: relative;
    z-index: 1;
    width: 88%;
    margin-right: 50px;
    
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid #2f3038;
    background-color: #0a1229;
    box-sizing: border-box;
 margin: 0 auto; */
 margin-left: 60px;
 display: flex;
 flex-direction: row;
 height: 500px;
}
#footer > div{
    padding-right: 5%;
    box-sizing: border-box;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;

}
#footer h1{
    margin-bottom: 30px;
    padding-right: 14px;
    background-color: #0a1229;
    margin-right: 60px;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: 100px;
}
#footer p{
    color: #fff;
    margin-bottom: 5px;
    font-size: 17px;
    box-sizing: border-box;
    line-height: 25px;
    margin-top: 0;
    font-family: Dosis, sans-serif;
    padding-right: 10%;
    letter-spacing: 1px;

}
#footer h3{
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;

}
.red-line{
    display: inline-block;
    position: absolute;
    left: 24%;
    top: 8px;
    right: auto;
    bottom: auto;
    width: 44%;
    height: 1px;
    background-color: #ff6361;
    box-sizing: border-box;
}
#footer > div h2{
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 17px;
    margin-top: 0;
    letter-spacing: 1px;
}
#footer img{
    width: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
}
.footer-nuuk{
    margin-top: -150px;
    /* width: 90px; */
    background-color: #e47312;
    align-self: stretch;
    display: flex;
    height: 150px;
    padding-right: 50px;
    padding-left: 45px;
    align-items: center;
    position: absolute;
    box-sizing: content-box;
    margin-left: 50px;
}
.footer-nuuk img{
    vertical-align: middle;
    width: 150px;
}
#footer-real{
    position: relative;
    z-index: 1;
    width: 88%;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid #2f3038;
    background-color: #0a1229;
    box-sizing: border-box;
 margin: 0 auto;
}
.anim-menu{
    position: relative;
}
.anim-menu::before{
    content: "";
    width: 1px;
    height: 0px;
    background-color: #E47312;

    position: absolute;
    top: -33px;;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
}
.anim-menu:hover::before{
    height: 32px;
}
.anim-menu::after{
    content: "";
    width: 1px;
    height: 0px;
    background-color: #E47312;

    position: absolute;
    bottom: -33px;;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
}
.anim-menu:hover::after{
    height: 32px;
}

/* .popup-menu::after{
    content: "";
    width: 20px;
    height: 50px;
    background-color: #e41224;

    position: absolute;
    top: 0px;;
    left: 90%;
    transform: translateX(-50%);
    transition: all 0.2s;

}
/* .popup-div{ */
    /* display: flex;
    flex-direction: row;
}
 */ 
.popup-div{
    margin:0;
    width: 52px;
    display: flex;
    flex-direction: row;
    margin-right: 0;
    position: relative;
    left: 0%;
}
.popup-overlay{
    position: absolute;
    background-color: #fff;
    top: 65px;
    padding: 20px;
    width: 120px;
    left: -0%;
    opacity :0;
}
.popup-overlay p{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 130px;
    transition: 0.2s;
}
.popup-div:hover .popup-overlay{
    opacity:1;
}


@media (max-width:400px){
    body{
        margin: 0%;
        width: 100vw;
    }
     #navbar{
        height: 60px;
       width: 100%;
       top:0;
       margin-top: 0;
          /* background-color: white;
        z-index: -1;
        margin: 0; */
    } 
    #main-text h1{
        font-size: 40px;
        line-height: 42px;

    }
    #main-text p{
        margin-bottom: 25px;
    }

    #nuuk-logo{
        height: 60px;
    }
    #navbar-items{
        display: none;
    }
    #get-free-quote{
        display: none;
    }
    #main-content-borderbox{
        display: none;
    }
     #background-image{ 
         width: 100%; 
         margin: 0;
         background-size: auto 600px; 
         background-attachment: scroll, fixed;
        /* /* padding:0; */
        /* height: 500px;
        
        /*
        background-attachment: fixed;
         */
    } 
    #first-page-section{
        width: 100%;
        margin: 0;
        padding:0;
    }
    #back-text > h1{
        display: none;
        margin-left:0px;
    }
    #back-text div h1{
        margin:0;
        padding: 0;
    }
    #back-text div{
        display:block;
        margin: 0px;
        margin-bottom: 15%;
        margin-left: 2%;
        margin-right: 2%;
    }
    #social-url{
        bottom:0;
    }
    #who-we-are div img{
        width: 100%;
        margin-bottom: 84px;
    }
    #who-we-are{
        display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    }
    #grey-background{
        padding:0;
        margin-left:0%;
        margin-right:0%;
    }
    .sec-five-img-wrap{
        display: flex;
        flex-direction: column;
    }
    #transparent-design{
        width:100%;
    }
    #all-professionals{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #professional-details{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #first-page-section{
        margin-right: 15%;
    }
    #footer{
        display: flex;
        flex-direction: column;
    }
    /* #professional-details img{
        width: 50%;
    } */
    #number-count{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-right:2%;
    }
    .number-text{
        margin-top:0;
    }
    #number-count div{
        margin-bottom: 26px;
    }
    #back-text > h2
    {
        padding: 0;
    }
    #back-text > p {
        width: 100%;
        margin: 0;
        padding:0;
    }
    #who-we-are div{
        width: 100%;
    }
    #our-specialization-inner-div{
        width: 100%;
     
    }
    #our-specialization > div{
        display: flex;
        flex-direction: column;
    }
    #our-specialization{
        padding: 0;
    }
    #second-page-section{
        width: 100%;
        padding: 0;
    }
    #back-text{
        display: none;
    }
    #footer-real{
        height: 600px;
    }
    /* #all-professionals{
        display: none;
    }
    #testimonials{
        display: none;
    }
    #latest-news{
        display: none;
    }
    #second-last-section{
        display: none;
    }
    #footer-real{
        display: none;
    } */
    #first-page-section{
        margin:0;
        padding: 0;
    }
    #first-page-section{
        margin-right: -100px;
    }
    #background-margin{
        margin:0;
    }
}