@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    margin:0;
    font-family: "Poppins", sans-serif;
  /* background-color: pink; */

}
#header{
    background-color: white;
    width: 100%;
    height: 77px;
    padding: 0 28px;
    box-sizing: border-box;
    position: fixed;
    top:0;
}
#header navbar{
    display:inline-block;
}
#header navbar  div{
    display: inline-block;
    /* margin-left: 750px; */
    vertical-align: middle;
}
.content-div{

    margin-left: 880px;
    /* width: 50%; */
    display: inline-block;
}

#header navbar div p{
    display: inline-block;
    margin-right: 24px;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    /* position:fixed;
    top: 0; */
    
   
}
#header navbar img{
    padding: 12px 28px;
    width: 40px;
    display: inline-block;
}
#header navbar div button{
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
    
}
section{
    display: inline-block;
    margin:0;
}


.image-section{
    background-image:url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
   background-size:cover;
    width: 100%;
    height: 100vh; 
    margin:0;
    margin-top:77px;
}


main section article{
    color: white;
    text-align: center;
    background-color: #5acda6; 
    width: 25%;
    padding: 112px 48px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin:0;
}
main section article h3{
    font-weight: 600;
    font-size: 24px;
    margin:0;
}
main section article i{
    font-size: 120px;
    margin:0;
}
.green{
    background-color: #91ac41;;
}
.orange{
    background-color: #e4b476;
}
.pink{
    background-color: #f69dad;
}
.article{
    margin: 0px;
    width: 100%;
    margin-left:0;
    margin-right:0;
    padding: 0;
    display: inline-block;
    width: 100vw;
    margin: -7px;

}
