h1{
    font-size: 100px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
 ul{
     font-size: 20px;
 }

 .new-class{
     font-size: 30px;
     color: blue;
 }